<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello, World!</title>
    <link rel="stylesheet" th:href="@{/app.css}" />
</head>
<body>
<h1>Hello, World!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet atque dolor doloribus et illo magni, minus molestiae nesciunt nihil obcaecati officiis pariatur provident quia veniam voluptatem voluptatum. Accusamus, doloremque?</p>
<img th:src="@{/gifs/giphy.gif}" alt="gif"/>

</body>
</html>